/* css styles */



/* TOC customization */

/* Increase the size of TOC items */
.navbar-nav li a {
  font-size: 1.5em;
}

/*
Center the TOC items
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
*/



body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.container {
  padding: 0; /* Remove container padding */
  margin: 0 auto; /* Center the container */
}

.main {
  width: 100%;
}




/* Make the header/navbar fixed */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other elements */
  background-color: #377ae8; /* Optional: Navbar background color */
  border-bottom: 1px solid #ddd; /* Optional: Add a border for separation */
}

/* Make the navbar links text white */
.navbar .navbar-nav .nav-link {
  color: white; /* White text */
}

/* Change link color on hover */
.navbar .navbar-nav .nav-link:hover {
  color: #f1c40f; /* Optional: change hover color */
}

/* Add spacing below the navbar to prevent overlap with content */
body {
  margin-top: 70px; /* Adjust this based on your navbar height */
}


